body{
    padding: 0;
    margin: 0;
}
#side_bar
{
    background-color: #4545f0;
    height:100vh;
    width: 30%;
    float:left;
}
#main
{
    height: 100vh;
    width: 70%;
    background-color: #1e1e91;
    float:left;
}